<% include partials/header %>
<div class="container">
  <form method="POST">
    <input type="text" name="name" placeholder="Api Name" />
    <input type="text" name="slug" placeholder="Api Slug" />
    <textarea name="desc" placeholder="Api Description"></textarea>
  </form>
</div>
<% include partials/footer %>
