<% include partials/header %>
<div class="container">
  <li><a href="/login">Login</a></li>
  <li><a href="/api/v1/devices?slug=coolapi">GET /api/v1/devices</a></li>
  <li><a href="/api/v1/devices/4?slug=coolapu">GET /api/v1/devices/4</a></li>
</div>
<% include partials/footer %>
