<% include partials/header %>
<div class="container">
  <h1>Login user</h1>
  <form method="POST">
    <label>Username</label>
    <input value="a" name="username" type="text" placeholder="Username" />
    <br/>
    <label>Password</label>
    <input value="b"name="password" type="text" placeholder="Password" />
    <br/>
    <input type="submit" />
 </form>
</div>
<% include partials/footer %>
